img {
    width:20%;
}
h1{
    color:white;
    text-align:center;
}
h2{
    color:white;
    text-align:center;
}
h3{
    color:white;
    text-align:center;
}
p1{
    text-align: center;
}
img{
    text-align:center;
}
f1,f2{
    text-align: center;
}
